<!Doctype HTML>
<html
        xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .create {
            margin-left: 90px;
            margin-top: 100px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h3>Books:</h3>
    <table class="books">
        <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>More info</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}" th:object = "${book}">
                <td th:text = "*{title}"></td>
                <td> <a th:href="@{/books/update/{id}(id=${book.id})}">Edit</a> </td>
                <td> <a th:href="@{/books/{id}(id=${book.id})}">More info</a> </td>
                <td>
                    <form action="/books/delete" method="post">
                        <input type="hidden" th:value="${book.id}" th:name="id">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="create" th:href="@{/books/create}"><button type="button"> Create new book</button></a>
    </div>

</body>

</html>



