<!Doctype HTML>
<html
        xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .book tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .create {
            margin-bottom: 20px;
        }

    </style>
</head>


<body>
<h3>Books:</h3>
<table class="book">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object = "${book}">
        <td th:text = "*{title}"></td>
        <td th:text= "*{authorDto.fullName}"></td>
        <td th:text = "*{genreDto.name}"></td>
        <td>
            <a th:href="@{/books/update(id=${book.id})}">Edit</a>
        </td>
        <td>
            <form action="/books/delete" method="post">
                <input type="hidden" th:value="${book.id}" th:name="id">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="create">
    <a class="create" th:href="@{/books/create}"><button type="button", name="create"> Create new book </button></a>
</div>

<div class="show">
    <a class="show" th:href="@{/books/}"><button type="button"> Show all books </button></a>
</div>

</body>

</html>



